{% extends 'goods/base.html' %}
{% block head %}
     <script type="text/javascript">
     function add(gid) {
            $.get('/user/islogin/',function (data) {
                if(data.islogin == '1')
                {
                    $.get('/cart/add/', {'gid':gid, 'gnum':$('.num_show').val()}, function (data) {
                        if(data.success == '1')
                        {
                            var $add_x = $('#add_cart').offset().top;
                            var $add_y = $('#add_cart').offset().left;

                            var $to_x = $('#show_count').offset().top;
                            var $to_y = $('#show_count').offset().left;
                            var store = parseInt($('.store').val());

                            $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
                                $(".add_jump").stop().animate({
                                    'left': $to_y+7,
                                    'top': $to_x+7},
                                    "fast",
                                    function() {
                                        $(".add_jump").fadeOut('fast', function () {
                                            $.get('/cart/count/', function (data) {
                                                $('#show_count').html(data.count);
                                            })

                                        });
                                    });
                        }
                        else
                        {
                            alert('加入购物车失败，请稍后重试。')
                        }
                    });
                }
                else
                {
                    location.href = '/user/login/';
                }
            });
        }
    $(function(){



		$('.add').click(function () {

            num = parseInt($('.num_show').val());
            if(num < store)
                $('.num_show').val(num+1);
            $('.num_show').blur();
        });
		$('.minus').click(function () {
             num = parseInt($('.num_show').val());
            if(num > 1)
                $('.num_show').val(num-1);
            $('.num_show').blur();
        });

		$('.num_show').blur(function () {
		    if(isNaN($('.num_show').val()))
            {
                $('.num_show').val('1');
                return;
            }
            num = parseInt($('.num_show').val());
		    if(num > store){
		        num = store;
            }
            else if(num < 1)
            {
                num = 1;
            }
            $('.num_show').val(num);
		    var total_price = parseFloat(num) * parseFloat($('.show_pirze em').text());
            $('.total em').text(total_price.toFixed(2) + '元');
        });
    });
	</script>
{% endblock %}
{% block detail %}

	<div class="breadcrumb">
		<a href="/">全部分类</a>
		<span>></span>
		<a href="/list{{ good.type.id }}_1/">{{ good.type.type }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ good.pic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ good.title }}</h3>
			<p>{{ good.subtitle }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ good.price }}</em></span>
				<span class="show_unit">单  位：{{ good.unit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
                    <input type="hidden" class="store" value="{{ good.store }}">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{ good.price }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:add({{ good.id }});" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>
{% endblock detail %}
{% block right %}
		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
                    <dt>商品详情：</dt>
                    <dd> {{ good.content|safe }}</dd>

                </dl>
			</div>

		</div>
	</div>
	<div class="add_jump"></div>

{% endblock right %}